<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('partails/head') -%>
</head>
<body>
    <header style="display: none;">

    </header>
    
    <div class="container_general" id="general_si" name="general_si">
        <form action="/inicio" method="POST" class="container_general">
        <div class="login_index">
                <img src="img/atleticos_trasnparente.svg"/>
        </div>
        
        
        
        <div class="login">
             
                <div class="contexto_login">
                    
                    <h1 class="atleticos_login" >Atleticos</h1>
                    <h4>¡Bienvenido Nuevametne! <img src="img/icon/beisbol.png" width="10%"></h4>
                    <p>Ingresa al mundo del softbol Atleticos</p>
                
                
                    <div id="input_usuario" name="input_usuario" class="input-group p-1 position-relative">
                        <div id="icono_usuario" name="" class="input-group-text bg-black icon-user " style="color: white;"></div>
                    <input id="usuario" name="usuario" type="text" class="form-control" placeholder="Nombre Usuario"/>
                </div>
                
                
                    <div id="input_clave" name="input_clave" class="input-group p-1 mt-1 position-relative" style="color:none">
                        <div class="icon-key input-group-text bg-black " style="color: white;"></div>
                        <input id="clave" name="clave" type="password" class="form-control" placeholder="Contraseña"/>
                        <div type="button"  id="ver" name="ver"  class="btn icon-eye input-group-text btn-light" 
                        onclick="ver_key()"></div>
                </div>


                    <div class="btn justify-content-center align-content-center text-center w-100"
                    style="text-align: center;">
                <a href="/recuperacontrasena" class="text-decoration-none text-white" style="text-decoration: dotted;"><div class="  fs-8  text-black  text-center mt-2 ">
                        Olvidaste la conrtaseña clic aquí
                    </div>
                    </a>
                </div>



                    <button id="ingresar" name="ingresar" type="submit" class="btn  btn-dark mt-2" onclick="return login();">Ingresa</button>
                   <br/>
                   <hr/>
                   <br/>
                    <p><a href="/registrar">¿Aun no estas Registrado? ingresa aquí</a></p>
                </div>


        </div>


      



         </div>
        </form>
       
    </div>
    

    <%- include('partails/footer') -%>
    <script  type="text/JavaScript" src="/js/login.js"></script>
</body>

</html>