<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('partails/head') -%>
</head>
<body>
    <header style="display: none;">

    </header>
    <div class="container_general">
        <div class="login_index">
                <img src="img/atleticos_trasnparente.svg"/>
        </div>
        
        
        
        <div class="login">
            <div class="contexto_login">
                
                <h1 class="atleticos_login" >Atleticos</h1>
                <h3 style="font-weight: bold;">¡Olvidaste la Contraseña! <img src="img/icon/beisbol.png" width="10%"></h3>
                <p>Escribí tu mail para que te enviemos un correo para crear una nueva contraseña.</p>
               
                <div class="input-group p-1 position-relative" >
                    <div class="icon-@ input-group-text bg-black " style="color: red;">@</div>
                    <input type="text" class="form-control" placeholder="ejemplo@atletico.com">
                </div>
                
                
               
             


                       <div type="button" class="btn  btn-dark mt-2">Ingresa</div>

                       <p><a href="/"> Regresar</a></p>
               
            </div>
        </div>


        <div class="olvidar_key" style="display:none">
            <div class="recupera_key">
                <h1 class="atleticos_login" >Atleticos</h1>
                
                
            </div>

        </div>



         </div>
       
    </div>
    <%- include('partails/footer') -%>
</body>
</html>