<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('partails/head') -%>
    
</head>
<body>
    <header style="display: none;">

    </header>
    <div class="container_general">
        <form action="/gurda_usuario" method="POST" class="container_general">
        <div class="login_index">
                <img src="img/atleticos_trasnparente.svg"/>
        </div>
        
        
        
        <div class="login">
            <div class="contexto_login">
                
                <h1 class="atleticos_login" >Atleticos</h1>
                <h4>¡Bienvenido! <img src="img/icon/beisbol.png" width="10%"></h4>
                <p>Atleticos te brinda este espacio para compartir con tu comunidad y familia de softbol y beisbol</p>
               
               
                <div class="input-group p-1 position-relative">
                    
                <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" style="margin-left: 2px;">
                <input id="apellido" name="apelldio" type="text" class="form-control" placeholder="Apellido" >
               </div>
               
               
               <div class="input-group p-1 position-relative">
                   <input id="celular" name="celular" type="text" class="form-control" placeholder="Celular" >
                </div>

                <div class="input-group p-1 position-relative">
                    <div class="input-group-text bg-black icon-user " style="color: red;"></div>
                <input id="correo" name="correo" type="text" class="form-control" placeholder="ejemplo@atletico.com" >
               </div>
               
               
               <div class="input-group p-1 position-relative">
                    <div class="icon-key input-group-text bg-black " style="color: red;"></div>
                    <input id="key" name="key" type="password" class="form-control" placeholder="Contraseña">
                    <div type="button"  id="ver" name="ver"  class="btn icon-eye input-group-text btn-light" 
                    onclick="ver_key()"></div>
               </div>
               <div class="alinear_caracteres">
               <div class="input-group p-1 position-relative align-content-center justify-content-center">
                <div id="caracteres" name="caracteres" class="buena_key icon-cancel-circle" style="font-size: 10px; font-style: italic; font-weight: bold; padding: 10px; margin: 10px;"> Más de 8 caracteres</div>
                <div id="mayuscula" name="mayuscula" class="buena_key icon-cancel-circle" style="font-size: 10px; font-style: italic; font-weight: bold; padding: 10px; margin: 10px;"> Una Mayuscula</div>
               </div>
               <div class="input-group p-1 position-relative align-content-center justify-content-center">
                <div id="especial" name="especial" class="buena_key icon-cancel-circle" style="font-size: 10px; font-style: italic; font-weight: bold; padding: 10px; margin: 10px;"> Un caracter especial</div>
                <div id="numero" name="numero" class="buena_key icon-cancel-circle" style="font-size: 10px; font-style: italic; font-weight: bold; padding: 10px; margin: 10px;"> Un número minimo</div>
               </div>
            </div>



                <button name="envio_registrar" id="envio_registrar" type="submit" class="btn  btn-dark mt-2" onclick="return registra_usuario();">Ingresa</button>
                <p><a href="/"> Regresar</a></p>
            </div>
        </div>


      



         </div>
        </form>
    </div>
    <%- include('partails/footer') -%>
    <script  type="text/JavaScript" src="/js/registrar.js"></script>
</body>
<script></script>
</html>